:root {
    --color-primary: #eee;
    --color-secondary: rgb(0, 0, 0);
}

body {
    margin: 0;
}

.banner-container {
        margin-bottom: 5em;
        width: 70%;
        height: 38em;
        background: linear-gradient(to left, white 0%, white 50%, black 50%, black 100%);
    }
h1{
    background: linear-gradient(to left, black 0%, black 50%, white 50%, white 100% );
    color: white;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    z-index: 10;
}

.banner-container img {
    position: relative;
    top: -10.5em;
    left: 33.3em;
    /* z-index: -1; */
}


.text-box {
    position: absolute;
    top: 60px;
    right: 10em;
    width: 16em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-box a {
    background-color: black;
    color: white;
    padding: 17px 14px;
    margin: 10px;
    text-decoration: none;
}

.btn-arrow {
    background-color: coral;
    padding: 17px 10px;
}

.gallery {
    display: grid;
    margin-top: 50px;
}

.gallery-card-1 {
    background-color: white;
    color: black;
}

.gallery-card-1 p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;

}

.gallery-card-2 {
    background-color: black;
    color: white;
}

.gallery-card-2 :nth-child(1) {
    font-size: 30px;
    font-weight: 600;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.footer p:nth-child(2) {
    width: 20em;
}